@tailwind base;
@tailwind components;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@tailwind utilities;

.font-dm-sans {
  font-family: "DM Sans", sans-serif !important;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}
