@tailwind base;
@tailwind components;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.btn {
  @apply inline-flex active:scale-95 transition-all duration-300 items-center px-8 py-3 bg-[#F2F2F2] border border-transparent font-normal text-base text-primary capitalize tracking-widest hover:opacity-90 rounded-lg;
}
.input {
  @apply border border-[#D2D2D7] rounded-[10px] p-4 w-full pr-11 outline-none focus:border-gray-400 dark:bg-gray-800 dark:text-white dark:placeholder:text-white/60;
}
@tailwind utilities;

:root {
  --foreground-rgb: 24, 24, 24;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color-rgb: 10, 20, 47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color-rgb: 255, 255, 255;
  }
}

html[color-theme="dark"] body {
  color: #fff;
  background-color: #121212;
}
html[color-theme="light"] body {
  background-color: #fff;
}

html[color-theme="light"] .scrolled {
  position: sticky;
  top: 0;
  box-shadow:
    0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  z-index: 99;
}

html[color-theme="dark"] .scrolled {
  box-shadow:
    0px 1px 3px rgba(97, 108, 131, 0.1),
    0px 1px 2px rgba(244, 244, 247, 0.06);
}
html[color-theme="system"] .scrolled {
  box-shadow:
    0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}
html,
body {
  scroll-behavior: smooth;
}
.scrolled {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow:
    0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}
@media (min-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}

.nav__menu {
  list-style: none;
}
.nav__item {
  position: relative;
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 4px 3px;
}
.nav__menu .nav__item:after,
.nav__menu .nav__item:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 2px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}

.nav__menu .nav__item:after {
  bottom: 0;
  left: 0;
}

.nav__menu .nav__item:before {
  top: 0;
  right: 0;
}

.nav__menu .nav__item:hover::after {
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #27ae60;
}
.nav__menu .nav__item:hover::before {
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #27ae60;
}

.nav__menu .nav__item.active::after {
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #27ae60;
}

.text-shadow-drop-center {
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-5 1:30:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-5 1:32:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-5 1:33:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-5 1:33:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

html[color-theme="dark"] #header__moon {
  color: #27ae60;
}
html[color-theme="light"] #header__sun {
  color: #27ae60;
}
html[color-theme="system"] #header__indeterminate {
  color: #27ae60;
}

.banner__image {
  background-image: url("/images/startup.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.board__carousel .slider {
  width: 30% !important;
}
@media screen and (max-width: 1024px) {
  .board__carousel .slider {
    width: 42% !important;
  }
}
@media screen and (max-width: 565px) {
  .board__carousel .slider {
    width: 80% !important;
  }
}
.banner__carousel .carousel .slider-wrapper {
  height: 210px !important;
}
@media screen and (max-width: 565px) {
  .banner__carousel .carousel .slider-wrapper {
    height: 170px !important;
  }
}
.carousel .slide .py-3 .slide__item {
  width: 95%;
  margin: 0 auto;
  transition: all 0.5s;
  opacity: 0.6;
}
.carousel .slide.selected .py-3 .slide__item {
  opacity: 1;
  width: 100%;
}
.carousel .slide img {
  width: auto !important;
  vertical-align: top;
  border: 0;
}

.auth__carousel .carousel .control-dots {
  text-align: left;
}

.auth__carousel .carousel .control-dots .dot {
  width: 8px;
  height: 4px;
  border-radius: 16px;
  margin: 0 4px 0 0;
  background: #a9c2f9;
}

.auth__carousel .carousel .control-dots .dot.selected {
  width: 32px;
  height: 4px;
  background: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 8px;
}

::-webkit-scrollbar:horizontal {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: #27ae60;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

html[color-theme="dark"] {
  .react-datepicker,
  .react-datepicker__header {
    background: rgb(25 26 21) !important;
  }
  .react-datepicker__current-month,
  .react-datepicker__day {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

.bg-tab {
  border-radius: 16px;
  border: 0.7px solid #d7dce0;
  background: linear-gradient(
    135deg,
    rgba(39, 174, 96, 0.05) 0%,
    rgba(17, 153, 142, 0.05) 100%
  );
}
td {
  white-space: nowrap;
}
* {
  box-sizing: border-box;
}
.rdw-option-wrapper {
  background: transparent !important;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif !important;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}
